<template>
  <component
    :is="tag()"
    v-bind="attrs()"
    v-html="html()"
    style="vertical-align:middle;"
  />
</template>

<script>
import { decode } from "@appvise/format-csv";
import feather from "feather-icons";

const map = decode(`"name", "feather", "material"
"logout"            , "log-out"     , "logout"
"modal-close"       , "x"           , "close"
"sidenav-left-close", "chevron-left", "chevron_left"
"sidenav-left-open" , "menu"        , "menu"
`).reduce((r, entry) => {
  if (!entry) return r;
  for (const key of Object.keys(entry)) {
    if ("name" == key) continue;
    console.log({ key });
    r[key] = r[key] || {};
    r[key][entry.name] = entry[key];
  }
  return r;
}, {});

export default {
  setup(props, { slots }) {
    // TODO: make `inject` work
    const iconset = props.iconset || "material-rounded";

    return {
      iconset,

      tag() {
        console.log(this.name());
        switch (iconset) {
          case "feather":
            return "svg";
          case "material-rounded":
            return "i";
          default:
            return "div";
        }
      },

      attrs() {
        switch (iconset) {
          case "feather":
            const icon = this.feather();
            return (icon && icon.attrs) || { style: "display:none;" };
          case "material-rounded":
            return { class: "icon material-icons-round" };
          default:
            return { style: "display:none;" };
        }
      },

      html() {
        switch (iconset) {
          case "feather":
            return "";
          case "material-rounded":
            return this.material();
          default:
            return "";
        }
      },

      feather() {
        return feather[map.feather[this.name()] || this.name()];
      },

      material() {
        return map.material[this.name()] || this.name();
      },

      name() {
        return slots
          .default()
          .map(node => node.children)
          .join("");
      }
    };
  }
};
</script>
